
<!doctype html>
<html lang="{{ .Page.Language | default "en" }}">
  {{ partial "head" . }}
  <body>
    {{ partial "site-header" . }}
    <div id="wrapper">
      {{ partial "site-intro" . }}
      <main id="site-main">

        <h1>404</h1>
        <h2>{{ i18n "404_pagenotfound" | safeHTML }}</h2>
        <p>{{ i18n "404_sorry" | safeHTML }}</p>
        <a href="{{ .Site.BaseURL }}">{{ i18n "404_back" | safeHTML }}</a>

      </main>
      {{ partial "site-sidebar" . }}
      {{ partial "site-footer" . }}
      {{ partial "scripts" . }}
    </div>
  </body>
</html>